<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CallDirectoryExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CallExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF47DB871D8AF94400C0620E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF47DB9B1D8AF94400C0620E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF47DBA61D8AF94400C0620E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF47DBBC1D8AF97D00C0620E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
